/*deze is voor de H2 - Title*/
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/*Deze voor de rest van de website*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-image: url("earth-two.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.container {
    max-width: 1200px;
    /*display: flex;*/
    /*justify-content: center;*/

}

#title-h2 {
    font-family: 'Gochi Hand', cursive;
    color: white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    max-width: 450px;
}

#search-container {
    display: flex;
    justify-content: center;
    max-width: 400px;
}

#display-flag-country {
    max-width: 350px;
    color: white;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
}

#search-field {
    width: 65%;
    padding: 5px;
    margin-right: 5px;
    border-radius: 20px;
}

#placeholder {
    font-family: 'Montserrat', sans-serif;
}

#search-button {
    background-color: red;
    width: 35%;
    padding: 5px;
    margin-left: 5px;
    border-radius: 20px;
}

#search-button:hover {
    background-color: darkseagreen;
}

#search-button:active {
    background-color: darkseagreen;
    transform: translateY(2px); /* drukt op knop */
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-width: 500;
    cursor: pointer;
}

#display-flag {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#error-text {
    color: red;
    font-weight: bolder;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


